
<div class="container">
    <h3>Restaurants List</h3>
      <table class="data-table">
        <thead>
          <tr>
            <th>RestaurantId</th>
            <th>RName</th>
            <th>Location</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of restaurants">
            <td>{{ r.restaurantId }}</td>
            <td>{{ r.rName}}</td>
            <td>{{ r.location }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <button class="danger " (click)="downloadExcel()">Download Excel </button>
    </div>

    

